@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
  }

html {
    scroll-behavior:smooth;
}

/* Skeleton animation */

@keyframes skeleton {
    0% {
      background-color: hsl(200, 20%, 80%);
    }

    100% {
      background-color: hsl(200, 20%, 95%);
    }
}

.skeleton-item {
  animation: skeleton 1s linear infinite alternate;
}